.welcome-page{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}


.img-btn-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
}

.button{
    width: 100%;
    margin-top: 5%;
}